*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
.header label {
    display:none;
}

#boton-menu{
    display:none;
}
header nav{
    width: 100%;
    background:black;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}
header nav ul li{
    float:left;
}
header nav ul li a{
    color:white;
    padding:5px;
    text-decoration: none;
    display: block;
}
header nav ul li img{
    margin-right: 10px;
}
header nav ul li a:hover{
    background: #037E8C;
}

/*PANTALLA 1:*/
.contenedor{
    background-image: url(../Imagenes/fondoPrueba.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.contenido{
    background: #b3b5b8ad;
    height: 80vh;
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    
}
/*Objetos de la pantalla login*/
.labels{
    margin-top: 5%;
    margin-bottom: 5%;
}
.label1{
    display: flex;
    justify-content: flex-start;
    margin: 4%;
 
}

.label2{
    display: flex;
    justify-content: flex-end;
    margin: 5%;
}

.label3{
    text-align: center;
}

.inputs{
    background: #FFFFFF;
    border-radius: 2px;
    padding: 12px 0px;
    width: 90%;
    border:none;
    margin-left: 4%;
    margin-left: 4%;
}

.button{
    background: #3897F0;
    border-radius: 5px;
    width: 90%;
    height: 10%;
    border:none;
    margin: 4%;
}
.imagen{
    margin-top: 10%;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-bottom: 5%;
}

/*PANTALLA 2:*/
.pantalla-inicio{
    background-image: url(../Imagenes/fondoinicio.jpg);
    background-size: cover;
    color: white;
    display: flex;
    height: 87vh;
    flex-direction: row;
}

.imagen-inicio{
    padding: 40px;
}

.inicio>h1{
    display: flex;
    justify-content: center;
    top:10%;
}
.titulo{
    font-size: 40px;
    text-align: center;
    margin: 5%;
}

.texto-inicial{
    font-size: 20px;
    text-align: center;
    margin: 5%;
}

.ocultar{
    display: none; 
}

/*Pantalla 3:*/
.fondo-contenedor{
    /* background: rgb(181, 233, 224); 
    background-color: #4ABDAC ; */
    background-image: url(../Imagenes/fondoPrueba.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.texto-opciones{
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 148, 25);
}

.centrar{
    text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Cambria;
    font-size: 50%;
}

#contenedorPokemon{
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: space-around;
    font-size: 21px;
}

.fondo-poke{
    /*background-color: rgb(300, 300, 300, .2);*/
    background-color: rgba(80,80,80,.60);
    margin-top: 20px;
    padding: 25px;
    width: auto;
    height: auto;
    border-radius: 28px;
} 

.nombre-poke {
    padding: 5px;
    background-color:#eb8b32fa;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    font-family: Cambria;
    font-size: 18px;
    transition: height 0.2s ease-out;
}

.num-poke{
    font-weight: bold;
    font-family: Cambria;
    font-size: 20px;
    transition: height 0.2s ease-out;
    color: white;
    border-bottom: 1px solid #fff;
}

.name{
    font-weight: bold;
    font-family: 'Times New Roman';
}
.zoom:hover{
    background-color: white;
}
.opciones{
    width: auto;
    height: 50%;
    background-color: black;
    color: #d3a9a9;
    font-family: sans-serif;
	margin: 5px;
    padding: 1%;
    border-radius: 4px;
    border: 1px solid rgb(248, 125, 54);
    display: flex;
    justify-content: center;
}
.centrar-objeto{
    margin-left: auto;
    margin-right: auto;
}

.contenedor-opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    /* El Modal  */
.modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
 }
  
     /* Contenido de modal */
.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    color: white;
    border-radius: 17px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    height: 280px;
    border-bottom: 5px solid #fff;
}   
.imageModal{
      height: 80%;
      width: 80%;
}
.nombrePokemodal{
    padding: 5px;
    background-color: #eb8b32fa;
    color: black;
}
    /*cerrar modal */
.close {
    display: flex;
    font-size: 35px;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
.fondo-poke{
    margin-top: 0;
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 28px;
    margin: 5px;
}
border-radius: 10px;

.num-poke .nombre-poke{
    font-weight: bold;
    font-family: Cambria;
    font-size: 10px;
    transition: height 0.2s ease-out;
}
}

    /*PANTALLA DE BLOQUEO:*/
    .bloqueo {
        background-image: url(../Imagenes/fondoBloqueo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        height: 95vh;
    }
    .mensaje-bloqueo{
        margin: 20%;
        font-size: 40px;
        color: white;
    }

    /*FOOTER:*/
    .footer {
    background-size: cover;
    background-color: black;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding: 2px;
    width: auto;
    height: 100%;
    text-align: center;
    color:white;
    padding: 2px;
}
    /*responsive login*/
    @media screen and (max-width: 600px) {
        .contenido{
           background: #b5c0c2ad;
           height: 85vh;
           margin-top: 3%;
           margin-left: 5%;
           margin-right: 5%;
           margin-bottom: 5%;    
         }
         .contenedor{
           margin-top: 3%;
           margin:0;
         }
         .button{
           height: 6%;
         }
       

        /* responsive pantalla Inicio */
        .imagen-inicio{
         transform: scale(0.6);
         padding: 0;
         }
        #pantalla-inicio{
            flex-direction: column;
        }
          .titulo{ 
            font-size: 25px;
            text-align: center;
            margin: 3%;
           }
           .texto-inicial{
            font-size: 15px;
            margin: 2%;
           }
           .texto-opciones{
            font-size: 22px;
            text-align: center;
}


    /*Responsive navegador */
        header label{
            display:block !important;
        }
        .menucito{
            float: right;
            width: 25px;
            height: 25px;
        } 
     
        #boton-menu:checked  ~.navegacion{
            transform:translateX(0%); 
        }
         header nav{
             position:absolute;
             width: 100%;
             transition:all 0.3s;
             transform: translateX(-100%);
        
         }
         header nav ul li{
             display:block;
             float:none;
             border-bottom: 1px solid rgba(255,255,255,.3);
         }
         .menu-bar{
             display: block;
             width: 100%;
             background: black;
         }
         .menu-bar .boton-menu{
             display: block;
             padding: 20px;
             background: black;
             text-decoration: none;
             color:white;
             font-weight: bold;
             font-size: 20px;
         }
         .modal-content {
        width: 50%;
        }   
        }
        /*contenedor pokemon*/
        .nombre-poke {
            border-radius: 0px;
            font-size: 15px;
        }
       
        
