*{
    margin: 0;
    padding: 0;
}
/*HEADER:*/
/*Menú de Navegación:*/
.navegacion{
	width: 100%;
	margin: auto;
	background: rgb(14, 13, 13);
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 5px 45px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333ce;
	width: 120%;
	visibility: hidden;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 20%;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.imagenMenu{
    margin-left:35%;
    margin-top: 5%;
}

.usuario{
    margin-left: 280px;
}


/*PANTALLA 1:*/

.contenido{
    background: #b5c0c2ad;   
}
/*Objetos de la pantalla login*/
.labels{
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 10PX;
}
.label1{
    display: flex;
    justify-content: flex-start;
}

.label2{
    display: flex;
    justify-content: flex-end;
}

.label3{
    text-align: center;
}

.inputs{
    background: #FFFFFF;
    border-radius: 2px;
    padding: 12px 0px;
    width: 300px;
    border:none;
    margin: 10PX;
}

.button{
    background: #3897F0;
    border-radius: 5px;
    width: 300px;
    height: 10%;
    
    border:none;
    margin: 10PX;
}
.imagen{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
}



/*PANTALLA 2:*/
.inicio{
    background-image: url(img/fondoinicio.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; 
    color: white;
    /*display:flex*/
}
.inicio>h1{
    display: flex;
    justify-content: center;
    top:10%;
}
.ocultar{
    display: none;
}
/*Pantalla 3:*/

.centrar{
    text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
}
.centrarTexto{
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}
.pokemontriste{
    display:flex;
    justify-content: center;
    font-family: Arial;
}
#contenedorPokemon{
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: space-around;
    font-size: 21px;
}
.fondo-poke{
    background-color: rgb(300, 300, 300, .2);
    margin-top: 20px;
    padding: 25px;
    width: auto;
    height: auto;
    border-radius: 28px;
}
.nombre-poke {
    font-weight: bold;
    font-family: Cambria;
    font-size: 20px;
    transition: height 0.2s ease-out;
}
.num-poke{
    font-weight: bold;
    font-family: Cambria;
    font-size: 20px;
    transition: height 0.2s ease-out;
}

.name{
    font-weight: bold;
    font-family: 'Times New Roman';
}
.zoom:hover{
    background-color: rgb(226, 212, 199);
}

/* The Modal  */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 30%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /*cerrar modal */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .footer {
    background-size: cover;
    background-color: black;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;
    text-align: center;
    color:white;
}
