*{
    margin: 0;
    padding: 0;
}

/*HEADER:*/
/* .header{
    position: fixed;
    width: 100%;
} */


/*Menú de Navegación:*/

.navegacion{
	background: rgb(14, 13, 13); 
}

.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 5px 30px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #1b1b1adc;
	width: 120%;
	visibility: hidden;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 110%;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li{
    width: 12%;
    height: auto;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.imagenMenu{
    margin-left:25%;
    margin-top: 5%;
}

.usuario{
    margin-left: 20%
}

/*PANTALLA 1:*/
.contenedor{
    background-image: url(../Imagenes/fondoPrueba.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.contenido{
    background: #b3b5b8ad;
    height: 80vh;
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    
}

/*Objetos de la pantalla login*/
.labels{
    margin-top: 5%;
    margin-bottom: 5%;
}
.label1{
    display: flex;
    justify-content: flex-start;
    margin: 4%;
 
}

.label2{
    display: flex;
    justify-content: flex-end;
    margin: 5%;
}

.label3{
    text-align: center;
}

.inputs{
    background: #FFFFFF;
    border-radius: 2px;
    padding: 12px 0px;
    width: 90%;
    border:none;
    margin-left: 4%;
    margin-left: 4%;
}

.button{
    background: #3897F0;
    border-radius: 5px;
    width: 90%;
    height: 10%;
    border:none;
    margin: 4%;
}
.imagen{
    margin-top: 10%;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-bottom: 5%;
}


/*PANTALLA 2:*/
.pantalla-inicio{
    background-image: url(../Imagenes/fondoinicio.jpg);
    background-size: cover;
    color: white;
    display: flex;
    height: 82vh;
}

.inicio{
    flex-direction: column;
}

.imagen-inicio{
    padding: 40px;
}

.inicio>h1{
    display: flex;
    justify-content: center;
    top:10%;
}
.titulo{
    font-size: 40px;
    text-align: center;
    margin: 5%;
}

.texto-inicial{
    font-size: 20px;
    text-align: center;
    margin: 5%;
}


.ocultar{
    display: none; 
}

/*Pantalla 3:*/
.fondo-contenedor{
    background: rgb(181, 233, 224);
}
.filtro-atrapado{
    font-size: 20px;
    text-align: center;
    
}
.centrar{
    text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Cambria;
    font-size: 50%;
}


#contenedorPokemon{
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: space-around;
    font-size: 21px;
}

.fondo-poke{
    background-color: rgb(300, 300, 300, .2);
    margin-top: 20px;
    padding: 25px;
    width: auto;
    height: auto;
    border-radius: 28px;
} 
.nombre-poke {
    font-weight: bold;
    font-family: Cambria;
    font-size: 20px;
    transition: height 0.2s ease-out;
}
.num-poke{
    font-weight: bold;
    font-family: Cambria;
    font-size: 20px;
    transition: height 0.2s ease-out;
}

.name{
    font-weight: bold;
    font-family: 'Times New Roman';
}
.zoom:hover{
    background-color: white;
}
/* .opciones-contenedor{
    display:flex;
    text-align: center;
    justify-content: center;
} */
.opciones{
    width: auto;
    background-color: black;
    color: #d3a9a9;
    font-family: sans-serif;
	margin: 5px;
    padding: 1%;
    border-radius: 4px;
    border: 1px solid rgb(248, 125, 54);
    display: flex;
    justify-content: center;
}


    /* El Modal  */
.modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
 }
 /*  */

  
     /* Contenido de modal */
.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    color: white;
    border-radius: 17px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}   
.imageModal{
      height: 80%;
      width: 80%;
}
    /*cerrar modal */
.close {
    display: flex;
    font-size: 35px;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
.fondo-poke{
    margin-top: 0;
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 28px;
}
.nombre-poke {
    font-weight: bold;
    font-family: Cambria;
    font-size: 10px;
    transition: height 0.2s ease-out;
}
.num-poke .nombre-poke{
    font-weight: bold;
    font-family: Cambria;
    font-size: 10px;
    transition: height 0.2s ease-out;
}
};

    /*PANTALLA DE BLOQUEO:*/
.imagen-bloqueo{
      width: 50%;
      height: auto;
 }

    /*FOOTER:*/
 .footer {
    background-size: cover;
    background-color: black;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding: 2px;
    width: auto;
    height: 100%;
    text-align: center;
    color:white;
    padding: 7px;
}
    /*responsive login*/
    @media screen and (max-width: 600px) {
        .contenido{
           background: #b5c0c2ad;
           height: 80vh;
           margin-top: 3%;
           margin-left: 5%;
           margin-right: 5%;
           margin-bottom: 5%;    
         }
         .contenedor{
           margin-top: 3%;
           margin:0;
         }
         .button{
           height: 6%;
         }
       }
       /*responsive pantalla Inicio*/
       @media screen and (max-width: 600px) {
        .menu > li{
            transform: scale(0.6);
        }
        .imagenMenu{
            margin-left:60%;
            margin-top: 5%;
        }
        .usuario{
            margin-left: 5%
        }
        .imagen-inicio{
         margin-top: -20%;
         transform: scale(0.6);
         padding: 0;
         }
        #pantalla-inicio{
            flex-direction: column;
        }
         .inicio>h1{
            display: flex;
            justify-content: center;
          }
          .titulo{
            font-size: 25px;
            text-align: center;
            margin: 2%;
           }
           .texto-inicial{
            font-size: 15px;
            margin: 3%;
           }
        }
        

